<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Proizvod</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="marketsAndProductsService.proizvod.cena!==undefined">
  <div style="margin-left: auto;margin-right: auto;display: flex;flex-direction: column;margin-top: 20px;">
      <img  src={{marketsAndProductsService.proizvod.slika}} alt="">
      
      <h1 style="text-align: center;">{{marketsAndProductsService.proizvod.naziv}}</h1>
      <div style="width: 100%;">
          <p style="text-align: center;">Kategorija: {{marketsAndProductsService.proizvod.kategorije}}</p>
          <div id="prise">
              <h1 style="font-size: 50px;min-width: fit-content;">{{marketsAndProductsService.proizvod.cena}} din/{{marketsAndProductsService.proizvod.jedinica}}</h1>
              <p id="originalPrise">120 din/{{marketsAndProductsService.proizvod.jedinica}}</p>
          </div>
      </div>
      <ion-list>
        <ion-item style="max-width: 80%;margin-left:auto;margin-right:auto;">
          <ion-label position="floating">Koliko {{marketsAndProductsService.proizvod.jedinica}} želite da kupite ?</ion-label>
          <ion-input name="kolicina" #cena></ion-input>
        </ion-item>
        <ion-text [innerHTML]="greska">{{greska}}</ion-text>
      </ion-list>
      <ion-button class="ion-align-self-center ion-margin-top" #dugme (click)="unesiProizvod(marketsAndProductsService.proizvod)">Ubaci u korpu</ion-button>
      <p style="text-align: center;">Prodavnice u kojima <br> se nalazi proizvod:</p>
      <ion-item *ngFor="let prodavnica of marketsAndProductsService.vratiProdavniceZaProizvod(marketsAndProductsService.proizvod.UProdavnici)" >
          <div style="display:flex ; justify-content:space-between;align-items:center ;width:95%;margin-inline: auto;">
            <ion-thumbnail >
              <img src={{prodavnica.slika}} alt="">
          </ion-thumbnail>
          <div style="display: flex;flex-direction:column;align-items:center;justify-content: center;max-width: 70%;flex-wrap: wrap;">
            <h3 style="margin-left: 40px;text-align: center;">{{prodavnica.naziv}}</h3>
            <h5>Lokacija: {{prodavnica.lokacija}}</h5>
          </div>
          </div>
      </ion-item>
      <ion-button  class="ion-align-self-center"  routerLink="/app/uporedjivanje-proizvoda">Uporedi sa <br> ostalim proizvodima</ion-button>
  </div>
</ion-content>
