<ion-content>
    <ion-searchbar #marketSearch id="marketSearch" (click)="pretrazi()"></ion-searchbar>
    <ion-list>
        <ion-item  ngClass="marketButton" class="opcija1" *ngFor="let prodavnica of marketService.selection" (click)="funkcija1(prodavnica)" >
            <ion-thumbnail >
                <img src={{prodavnica.slika}} alt="">
            </ion-thumbnail>
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;width: 100%;">
                <h1>{{prodavnica.naziv}}</h1>
                <p style="margin-top: 0px; ">{{prodavnica.lokacija}}</p>
            </div>
        </ion-item>
        
    </ion-list>
</ion-content>
