<ion-content>
    <div style="display:flex;flex-direction:column;align-items: center;height: 100%;background-color: #3880ff;justify-content: space-between;">
        <h1 style="max-width:fit-content;text-align: center;color: white;height: fit-content;">Omiljeni proizvodi</h1>
        <swiper class="swiper" [navigation]="true" style="background-color: white; height: 90%;">
            <ng-template swiperSlide class="swiper-slide" *ngFor="let proizvod of categorySearchService.kategorija.proizvodi;" >
                <div style="height: 50%; width:70%">
                    <img style="object-fit: contain;" src={{proizvod.slika}} alt="">
                </div>
                <h1>{{proizvod.naziv}}</h1>
                <p>cena: {{proizvod.cena}} din/{{proizvod.jedinica}} </p>
                <div>
                    <ion-button routerLink="/app/detaljnije-o-proizvodu" (click)="proizvodiSearchService.proizvod=proizvod"  >Detaljnije</ion-button>
                    <ion-button (click)="shoppingChartService.ubaciProizvodUKorpu(proizvod)">Dodaj u korpu</ion-button>
                </div>
            </ng-template>
        </swiper>
    </div>
</ion-content>
