<ion-app>
    <ion-split-pane when="sm" content-id="main-content">
        <ion-menu content-id="main-content">
         <ion-header>
             <ion-toolbar>
                 <ion-title class="ion-text-center" >
                     <h1>Glavni meni</h1>
                 </ion-title>
             </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-list-header>Pregled</ion-list-header>
                <ion-menu-toggle auto-hide="false">
                    <ion-item routerLink="/app">
                        <ion-icon color="primary" slot="start" name="home"></ion-icon>
                        <ion-label style="text-align: center;">Početna</ion-label>
                    </ion-item>
                    <ion-item routerLink="/app/uporedjivanje-proizvoda">
                        <ion-icon color="primary" slot="start" name="copy"></ion-icon>
                        <ion-label style="text-align: center;">Uporedi proizvode</ion-label>
                    </ion-item>
                    <ion-item routerLink="/app/pretrazivanje">
                        <ion-icon color="primary" slot="start" name="search"></ion-icon>
                        <ion-label style="text-align: center;">Napredno pretrazivanje</ion-label>
                    </ion-item>
                    <ion-item routerLink="/app/account/shopping-cart">
                        <ion-icon color="primary" slot="start" name="cart"></ion-icon>
                        <ion-label style="text-align: center;">Korpa</ion-label>
                    </ion-item>
                    <ion-item routerLink="/app/account">
                        <ion-icon color="primary" slot="start" name="body"></ion-icon>
                        <ion-label style="text-align: center;">Nalog</ion-label>
                    </ion-item>
                    <ion-item routerLink="/app/podrska">
                        <ion-icon color="primary" slot="start" name="happy"></ion-icon>
                        <ion-label style="text-align: center;">Podrska</ion-label>
                    </ion-item>
                    <ion-item routerLink="/login" (click)="this.account.odjava()">
                        <ion-icon color="primary" slot="start" name="exit"></ion-icon>
                        <ion-label style="text-align: center;">Odjavite se</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
        </ion-menu>
        <div class="ion-page" id="main-content">
            <ion-header>
              <ion-toolbar style="display: flex;">
                <ion-buttons slot="start" color="dark">
                    <ion-menu-toggle>
                      <ion-button>
                        <ion-icon color="primary" slot="icon-only" name="menu"></ion-icon>
                      </ion-button>
                    </ion-menu-toggle>
                  </ion-buttons>
                <ion-title>Naziv aplikacije</ion-title>
              </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-router-outlet></ion-router-outlet>
            </ion-content>
        </div>
    </ion-split-pane> 
</ion-app>
