<ion-content style="display: flex; flex-direction: column;">
    <h1 style="text-align: center;">Proizvodi u korpi</h1>
    <ion-list>
        <ion-card >
            <div style="display:flex;flex-direction:column; justify-content: center; align-items:center;width:100%;">
                <h1 style="color: black;">Proizvod 1</h1>
                <!-- <p>Cena po kg:123 din/kg<br>Kolicina:15 g<br>Ukupna cena:1000 din</p> -->
                <div>
                    <ion-button>Detaljnije</ion-button>
                    <ion-button style="max-width: fit-content;">-</ion-button>
                </div>
            </div>
        </ion-card>
    </ion-list>
    <h1 style="text-align: center;">Ukupna cena:<br> 11000 din</h1>
    <div style="display: flex; justify-content: center;">
        <ion-button>Naruči</ion-button></div>
</ion-content>
