<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="dark">
          <ion-menu-button menu="first" ></ion-menu-button>
      </ion-buttons>
    <ion-title>Nalog</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; flex-direction: column; align-items: center;">
      <h1>Nalog</h1>
      <!-- <ion-card style="border-radius: 50%; max-height: 200px; max-width: 200px; overflow: hidden;">
          <img style="object-fit:contain;" src="https://images.unsplash.com/photo-1518478793609-e762ed795b6d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjN8fHNlbGZpZXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="">
      </ion-card> -->
          <ion-card style="display: flex; flex-direction: column; width:80%; max-width: fit-content; padding-inline: 30px; height: 40vh; justify-content: space-evenly;">
              <div style="display: flex; flex-direction: column; max-width: fit-content;align-self: center;justify-content: space-evenly;height: 80%;">
                  <!-- <ion-label *ngIf="accountService.account.firstName!=''">Ime: {{accountService.account.firstName}}</ion-label>
                  <ion-label *ngIf="accountService.account.lastName!=''">Prezime: {{accountService.account.lastName}}</ion-label> -->
                  <ion-label>email: {{account.email}}</ion-label>
                  <!-- <ion-label>username:username</ion-label>
                  <ion-label>Location:Location1</ion-label> -->
              </div>
              <!-- <div style="display: flex; flex-direction: column;">
                  <ion-button style="max-width: fit-content; align-self: center;">Izmeni podatke <br> o nalogu</ion-button>
                  <ion-button style="max-width: fit-content; align-self: center;">Promeni sifru</ion-button>
                  <ion-button style="max-width: fit-content; align-self: center;">Izmeni karticu</ion-button>
              </div> -->
          </ion-card>
  </div>
</ion-content>
