<ion-content fullscreen>
  <div style="display: flex; align-items: center; justify-content: center;height: 100%; background-image: url(https://images.pexels.com/photos/1910229/pexels-photo-1910229.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
              background-repeat: no-repeat;background-size: cover;">
      <form id="loginForm" style="border: 0.5px solid rgba(0,0,0,0.3);background-color: white;border-radius: 15px; display: flex; flex-direction: column; align-items: center;">
          <h2 style="text-align:center;">Log in</h2>
          <ion-list style="border-bottom-left-radius:15px;border-bottom-right-radius:15px;display: flex;flex-direction: column;">
              <ion-item style="margin-inline: 20px;">
                  <ion-label position="floating" style="text-align: left;">e-mail</ion-label>
                  <ion-input [formControl]="email" ></ion-input>
              </ion-item>
              <ion-item style="margin-inline: 20px;margin-bottom: 15px;">
                  <ion-label position="floating" style="text-align: left;">password</ion-label>
                  <ion-input type="password" [formControl]="password" ></ion-input>
              </ion-item>
              <ion-button  disabled="true" routerLink="/app" id="loginButton" style="margin-left: auto;margin-right: auto;">Ulogujte se</ion-button>
          </ion-list>
          <h5 style="margin-top: 20px; margin-bottom: 10px;">Nemate nalog ?</h5>
          <ion-button routerLink="/register" style="margin-bottom: 20px;" >Registrujte se</ion-button>
      </form>
  </div>
</ion-content>
