<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Prikaz <br> personalizovane <br> kategorije</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/admin/personalizovane-kategorije">Back</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex;align-items:center;justify-content:center;height: 90vh;">
    <ion-card style="color:black;text-align: center;">
      <ion-grid>
        <ion-row>
          <ion-col style="display: flex;align-items:center;justify-content:center;">
            <ion-text>ID personalizovane kategorije:</ion-text>
          </ion-col>
          <ion-col style="display: flex;align-items:center;justify-content:center;">
            <ion-text>{{personalizovanaKategorija.id}}</ion-text>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col style="display: flex;align-items:center;justify-content:center;">
            <ion-text>Naziv kategorije:</ion-text>
          </ion-col>
          <ion-col style="display: flex;align-items:center;justify-content:center;">
            <ion-text>{{personalizovanaKategorija.naziv}}</ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
