<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="dark">
          <ion-menu-button menu="first" ></ion-menu-button>
      </ion-buttons>
    <ion-title>Korpa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="display: flex; flex-direction: column;">
  <h1 style="text-align: center;" *ngIf="this.marketsAndProductsService.korpa.length>0">Proizvodi u korpi</h1>
  <h1 style="text-align: center;width: 70%;margin-left: auto;margin-right: auto;" *ngIf="this.marketsAndProductsService.korpa.length===0">Korpa je prazna</h1>
  <ion-list>
      <ion-card *ngFor=" let product of marketsAndProductsService.korpa">
          <div style="display:flex;flex-direction:column; justify-content: center; align-items:center;width:100%;">
              <h1 style="color: black;">{{product.proizvod.naziv}}</h1>
              <h5 style="color: black;">Količina: {{product.cena}} {{product.proizvod.jedinica}}</h5>
              <div>
                  <ion-button routerLink="/app/detaljnije-o-proizvodu" (click)="marketsAndProductsService.proizvod=product.proizvod" >Detaljnije</ion-button>
                  <ion-button style="max-width: fit-content;" (click)="marketsAndProductsService.izbaciIzKorpe(product)">-</ion-button>
              </div>
          </div>
      </ion-card>
  </ion-list>
  <h1 *ngIf="this.marketsAndProductsService.korpa.length>0" style="text-align: center;">Ukupna cena:<br> {{ukupnaCena}} din</h1>
  <div style="display: flex; justify-content: center;">
      <ion-button *ngIf="this.marketsAndProductsService.korpa.length>0">Naruči</ion-button></div>
</ion-content>
