<ion-content>
    <ion-searchbar></ion-searchbar>
    <ion-list style="display: flex;flex-direction: column;">
        <ion-item-group>
            <ion-label style="text-align: center;">Odaberite kategorije</ion-label>
        </ion-item-group>
        <ion-button  style="max-width:fit-content;margin-left: 10%; margin-top: 20px;" routerLink="/app/pretrazivanje/odabir-prodavnica">prodavnice</ion-button>
        <ion-button  style="max-width: fit-content;margin-left: 10%;margin-bottom: 20px;" >proizvodi</ion-button>
    </ion-list>
    <ion-list>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
        <ion-item>
            <ion-label style="text-align: center;">Proizvod 1</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
