<ion-content>
    <div style="display: flex; align-items: center; justify-content: center;height: 100%; background-image: url(https://images.unsplash.com/photo-1533998839656-76f5e4b2bccb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60);background-size: cover;
                background-repeat: no-repeat;background-size: cover;">
        <form style="border: 0.5px solid rgba(0,0,0,0.3);background-color: white;border-radius: 15px;">
            <h2 style="text-align:center;">Register</h2>
            <ion-list style="border-bottom-left-radius:15px;border-bottom-right-radius:15px;">
                <ion-item class="ime">
                    <ion-label position="floating" style="text-align: left;">Name</ion-label>
                    <ion-input ></ion-input>
                </ion-item>
                <ion-item class="ime">
                    <ion-label position="floating" style="text-align: left;">Last name</ion-label>
                    <ion-input ></ion-input>
                </ion-item>
                <ion-item class="ime" style="margin-bottom: 15px;">
                    <ion-label position="floating" style="text-align: left;">password</ion-label>
                    <ion-input type="text" ></ion-input>
                </ion-item>
                <ion-item class="ime" style="margin-bottom: 15px;">
                    <ion-label position="floating" style="text-align: left;">confirm password</ion-label>
                    <ion-input type="password" ></ion-input>
                </ion-item>
                
            </ion-list>
        </form>
    </div>
</ion-content>
